[submodule "cr-sqlite"]
	path = cr-sqlite
	url = git@github.com:vlcn-io/cr-sqlite.git
[submodule "model-js"]
	path = model-js
	url = git@github.com:vlcn-io/model.git
[submodule "strut"]
	path = strut
	url = git@github.com:tantaman/strut.git
[submodule "misc-js"]
	path = misc-js
	url = git@github.com:tantaman/misc.git
[submodule "create-web"]
	path = template-web
	url = git@github.com:vlcn-io/template-web.git
